@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,300&family=Lalezar&display=swap');
body{
    overflow-x: hidden;

  
}
.checked {
    color: orange;
  }
  .peopleRating{

    color: rgb(90, 90, 240);
  }
 .hoverimage:hover{
transform: scale(1.1);
box-shadow: 1px 1px 1px gray;
margin: 20px;
 }